[2022-08-16 09:02] #659 closed

[2022-08-16 09:03] krzysztofstudniarek commented on #660
We got contributing.md file which describe this

[2022-08-16 09:03] #660 closed

[2022-08-16 09:05] krzysztofstudniarek commented on #687
We don't yet started to work on this issue, however it is on our mind while planning work for the future

[2022-08-16 09:08] krzysztofstudniarek commented on #732
Won't do for now

[2022-08-16 09:08] #732 closed

[2022-08-16 09:13] krzysztofstudniarek commented on #801
We're rewriting the documentation. This shouldn't be an issue in the new doc ;)

[2022-08-16 09:13] #801 closed

[2022-08-16 09:18] krzysztofstudniarek commented on #865
We do have [adminjs-import-export ](https://github.com/SoftwareBrothers/adminjs-import-export)lib which should do the trick here. If the functionality there is not sufficient, then please open the issue there :)

[2022-08-16 09:18] #865 closed

[2022-08-16 09:19] krzysztofstudniarek commented on #888
We're currently working on not using `window` object at all, hence this issue is no longer valid.

[2022-08-16 09:19] #888 closed

[2022-08-16 09:21] krzysztofstudniarek commented on #929
It's a duplicate with https://github.com/SoftwareBrothers/adminjs/issues/430

[2022-08-16 09:21] #929 closed

[2022-08-16 09:27] krzysztofstudniarek commented on #956
There was no discussion over this issue for past year. Closing due to lack of activity.

[2022-08-16 09:27] #956 closed

[2022-08-16 09:30] krzysztofstudniarek commented on #963
We've released v6 with new rich text editor. Please validate if this issue still appears on your end and reopen if it does.

[2022-08-16 09:30] #963 closed

[2022-08-16 09:34] krzysztofstudniarek commented on #1210
I'm closing this issue due to the lack of response. If it still is the problem, please reopen the issue.

[2022-08-16 09:34] #1210 closed

[2022-08-16 09:35] krzysztofstudniarek commented on #1207
Closing the issue due to lack of response. If it's still the problem please reopen it.

[2022-08-16 09:35] krzysztofstudniarek commented on #1205
Closing the issue due to lack of response. If it's still the problem please reopen it.

[2022-08-16 09:35] #1205 closed

[2022-08-16 09:36] krzysztofstudniarek commented on #1202
Closing the issue due to lack of response. If it's still the problem please reopen it.

[2022-08-16 09:37] krzysztofstudniarek commented on #1200
Closing the issue due to lack of response. If it's still the problem please reopen it.

[2022-08-16 09:39] krzysztofstudniarek commented on #1196
It's a duplicate of https://github.com/SoftwareBrothers/adminjs/issues/1180#issuecomment-1190293422

[2022-08-16 09:39] #1196 closed

[2022-08-16 09:39] krzysztofstudniarek commented on #1194
It is a duplicate of https://github.com/SoftwareBrothers/adminjs/issues/1180#issuecomment-1190293422

[2022-08-16 09:39] #1194 closed

[2022-08-16 09:40] krzysztofstudniarek commented on #1189
We're currently working on new documentation where RBAC will be described with the corresponding examples. Closing the issue for now.

[2022-08-16 09:40] #1189 closed

[2022-08-16 09:41] krzysztofstudniarek commented on #1185
@AshotN do you have any updates or examples here?

[2022-08-16 09:43] krzysztofstudniarek commented on #1176
Hey @olegorelwork, can you elaborate a bit and show examples?

[2022-08-16 09:51] krzysztofstudniarek commented on #1174
AdminJS UI will be gradually improved to match the expectations. I see that the issue with `withMadeWithLove ` property was solved, so I'm closing this issue.

[2022-08-16 09:51] #1174 closed

[2022-08-16 09:52] krzysztofstudniarek commented on #1173
This is a duplicate of https://github.com/SoftwareBrothers/adminjs/issues/656

[2022-08-16 09:52] #1173 closed

[2022-08-16 09:55] krzysztofstudniarek commented on #1172
We won't allow normal `Error` object to be displayed, cause this will lead to showing all server error messages to the end users.

[2022-08-16 09:56] #1172 closed

[2022-08-16 09:58] krzysztofstudniarek commented on #1165
This issue is a part of https://github.com/SoftwareBrothers/adminjs/issues/251, hence I'm closing it and move conversation there.

[2022-08-16 09:58] #1165 closed

[2022-08-16 20:42] scalpovich commented on #1213
i have same issue ..with node v16

[2022-08-17 07:17] AshotN commented on #1185
My train of thought is a bit lost by now, but I can reproduce this issue still when building for production. This is my start/build script.

[code]

The issue happens if I try to bundle the dashboard component like this

[code]

This is the way I have it so it works

[code]

[2022-08-17 07:51] AshotN commented on #1172
Can we compromise with a new error type that isn't `ForbiddenError` just for semantics

[2022-08-20 16:14] wdfinch opened #1216 "Add Doc/Option to Live Reload"
**Describe the problem feature solves**
When developing adminjs applications, I constantly need to refresh the browser to see my changes. It would be nice if there were some way to easily configure live reloading or some tutorial.

**Describe the solution you'd like**
Documentation or config options to enable live reloading.

**Describe alternatives you've considered**
Refreshing the browser on ev

[2022-08-20 18:38] ksewo opened #1217 "Add table and raw HTML support for rich text editor"
**Describe the problem feature solves**
It would allow for creating better content. Tables are commonly used in comparisons and datasets; therefore, it should be possible to add them with a built-in editor easily.

Support for raw HTML/markdown would be extremely useful, so if there is a situation in which something isn't implemented in the editor, then it can be implemented by writing HTML or mar

[2022-08-21 11:17] VasilNikolov opened #1218 "Can't install adminjs and adapters"
**Describe the bug**
I assume that after a new version of adminjs was released the install broke on all local computers and two servers. We are using node 18 and adminjs 6.0.6 which produced some warnings but ultimately installed.
When trying to install one by one they also fail. Something to do with node-gyp?
After every install i npm clean cache, node_moduels and package-lock if any.

**Installe

[2022-08-21 12:06] dziraf commented on #1218
I advise against using Node.js 18 until it's LTS release. We build AdminJS packages with Node 16.

If there have been engine updates in Node 18, it can fail building some low-level packages until they're updated.

[2022-08-22 08:49] adminha opened #1219 "TypeError: this.model.findOneBy is not a function"
I've installed & successfully initialized AdminJS, thank you! It looks great!
Everything works fine, except one thing, when I click on a record of one of the entities, it throws an error and says:
`[Nest] 9416  - 08/22/2022, 1:08:57 PM   ERROR [ExceptionsHandler] this.model.findOneBy is not a function
TypeError: this.model.findOneBy is not a function
    at Resource.<anonymous> (C:\Users\...\node_

[2022-08-22 16:55] erkkah opened #1221 "Drag-drop in arrays does not work in version 6"
**Describe the bug**

Drag-n-drop of array items does not work after upgrading from version 5 to version 6.
The drag is indeed initiated, but there are no hovering effects or results when dropping.

**Installed libraries and their versions**

* adminjs@6.1.1
* @adminjs/koa@3.0.0
* adminjs-graphql@3.0.0

**To Reproduce**
Try to reorder the elements of an array property.
Make sure the property has `

[2022-08-23 08:00] dziraf commented on #1221
It looks like I introduced this in 6.1.0.

I switched from `react-beautiful-dnd` to `react-dnd` because it looks like Atlassian stopped developing `react-beautiful-dnd` and it's not updated for React v18. However, `react-dnd` has worked fine for me locally, I'll see what's wrong today.

[2022-08-23 08:59] dziraf commented on #1219
Extending `BaseEntity` is a requirement for typeorm adapter to work.

Can you share the version of your `@adminjs/typeorm` and `typeorm`?

`@adminjs/typeorm` version `>=3.0.0` only supports `typeorm` version `^0.3.x` which has breaking changes.

[2022-08-23 09:49] dziraf commented on #1221
@erkkah Please try version `6.1.3`

[2022-08-23 10:42] erkkah commented on #1221
Great, that fixed it! Thank you for the fast response!

[2022-08-23 11:00] dziraf commented on #1216
@wdfinch by live reloading do you mean some kind of websocket implementation that automatically shows new changes when creating/updating/deleteing records or just a button which reloads contents without refreshing the browser?

[2022-08-23 11:50] erkkah commented on #1221
Sorry, I was too fast.
References in arrays do not work still.

There are two issues here. First - after performing a drag-drop operation, all items pop into their previous place, but saving stores the actual reordered state. It looks like there is a difference in how populated properties are updated.

Second - clicking the reference select box does not work when `isDraggable` is set. There is som

[2022-08-23 11:52] dziraf commented on #1221
@erkkah are you able to record a video so that I know what to look at? Also, I assume it'd worked correctly pre v6?

[2022-08-23 12:53] erkkah commented on #1221
The first one is not new - my bad, so that's a separate issue.
The second is a regression from 5 to 6.

https://user-images.githubusercontent.com/6250348/186162695-006bc0f8-e011-4eee-8964-6943326dbb26.mov

https://user-images.githubusercontent.com/6250348/186162728-74a25720-378a-422c-a765-6e404c1ddb06.mov

[2022-08-23 16:22] wdfinch commented on #1216
Thanks for the reply! Sorry I wasn't very clear. I've updated the title and details above. I was referring to adding a live reload feature when developing custom react components. When adding these components, I need to refresh the browser every time I make changes (I have nodemon restarting the server). It would be nice if the browser could just refresh on its own when I make a change.

Hot Modul

[2022-08-23 18:40] wdfinch opened #1223 "Add Drag and Drop support to list view"
**Describe the problem feature solves**
On the list view, I would like to allow people to reorder items via drag and drop. This currently is not supported.

**Describe the solution you'd like**
I would like to see an option that would allow users to reorder items in a list via drag and drop. I understand the challenges with pagination. Other tools solve this by disabling pagination and instead loa

[2022-08-23 18:41] wdfinch commented on #1221
Hi, this is a little unrelated, but are there any docs or tutorials on how to do something like this? I couldn't find anything refreshing drag and drop don't the website.

[2022-08-24 09:59] dziraf commented on #1221
@erkkah The bug with label not updating after reordering elements should now be fixed (6.1.4).

The second one might've been partially fixed or I cannot reproduce it fully (see the video).
https://user-images.githubusercontent.com/16668924/186389360-b2ba48de-ba74-426e-9958-13dca4f7d508.mov

The issue where pressing the value container does not open the dropdown is caused by:
https://github.com/hel

[2022-08-24 10:13] dziraf commented on #1223
We won't be able to do it in a short time. This hasn't been requested very often (to be honest it's 3rd time I've seen someone ask about this feature).

Our frontend is currently being rewritten and separated to another repository so we're avoiding writing new features that we'll have to move there later anyway, I mostly maintain and fix issues found in the current implementation.

For now you can

[2022-08-24 14:28] erkkah commented on #1221
@dziraf - I've verified the fix on our end, and it seems to work well in 6.1.4.

Just one thing - the "reordering of references" - fix needs to be duplicated in custom components for reference types (we happen to have one of those). No biggie, but it does feel a bit odd that the "populated" fields are out of sync with "params" after reordering.

Thanks again!

[2022-08-24 15:44] wdfinch commented on #1223
Gotcha. Ok, thanks for the help. Yes, this is a big one so I could see this being a new type of component and possibly in a separate repo like the upload module. Do you want to leave it open or close it?

[2022-08-24 20:14] AshotN opened #1225 "Unable to pass data with ApiClient to handler"
**Describe the bug**
Data passed through the ApiClient getPage() method does not make it to the handler

**Installed libraries and their versions**

* adminjs@5.11.0
* @adminjs/express@4.1.3"
* body-parser: "^1.19.1"
*  express: "^4.17.2"

**To Reproduce**
A custom page like so

[code]
and in the page
[code]

The `request.body` property is an empty object. `request.query` does receive the params c

[2022-08-25 06:09] dziraf commented on #1225
@AshotN can you check `request.payload`? This is what's used in other AdminJS requests and actions. Let me know if this helps.

Bodyparser should only be used *after* setting up AdminJS router. AdminJS uses `express-formidable` which conflicts with bodyparser.

[2022-08-25 14:48] petrakoww commented on #1218
I downloaded your repo from here https://github.com/SoftwareBrothers/adminjs.git in search for the problem

The install was unsuccessful, but found that the dependency which was causing the problem was:
"@adminjs/design-system": "3.0.1", i changed the version to 3.0.0 and managed to install it successfully.

Going back to my project which uses:
"@adminjs/express": "5.0.0",
"@adminjs/mongoose": "3.

[2022-08-25 15:33] dziraf commented on #1218
Hmm, 3.0.1 uses one repository I forked: https://github.com/dziraf/react-currency-input-field as a direct github link. I'm not sure what could be the issue here but I can release it as a npm package tomorrow.

[2022-08-27 13:51] matiasirpac opened #1227 "DynamoDB Adapter"
**Describe the problem feature solves**
DynamoDB is growing a lot and there is already an orm like Dynamoose based on Mongoose, it would be a very good option to be able to use AdminJS with connection to this database as well.

**Describe the solution you'd like**
Create an Adapter for DynamoDB

**Describe alternatives you've considered**
The possibility of creating a Custom Adapter or improving t

[2022-08-29 18:31] efbenson opened #1228 "Add authentication information to resource function calls"
**Describe the problem feature solves**
We implemented our own resource to support our multitenant adminbro/adminjs instance, however without knowing what user (company) they are we do not know what collection to push/pull documents from.  We have forked the entire project and can't keep up with new changes unfortunately.

**Describe the solution you'd like**
When providing a custom resource also

[2022-08-29 21:54] AshotN commented on #1225
`request.payload` is empty

If I setup bodyparser after AdminJS router, `request.body` is `undefined`

[2022-08-29 22:03] AshotN commented on #1225
I just realized, `GET` requests can't have a body. The issue is I can't get the `POST` request to make it to the server.

[2022-08-30 07:13] ElectroMyStyle commented on #228
https://docs.adminjs.co/AdminJSOptions.html#pages

[2022-08-30 07:46] dziraf commented on #1227
cc @krzysztofstudniarek

[2022-08-30 08:03] dziraf commented on #1225
You should be able to add `method: "post"` here:
[code]

[2022-08-30 08:52] Naozumi520 commented on #228
Thanks!

[2022-08-30 09:20] DenizUgur opened #1229 "Bundle import paths are invalid when packaged using pkg"
**Describe the bug**
I'm not entirely sure but this line might be the culprit on file [generate-user-component-entry.ts](https://github.com/SoftwareBrothers/adminjs/blob/1d0eee21a342098a27a953114d571e98943685bf/src/backend/bundler/generate-user-component-entry.ts#L29). Basically, this path generated by the bundler leads nowhere so using absolute path packaged might be the solution here.

<details>

[2022-08-30 16:23] efbenson commented on #1228
@dziraf yes you are correct I was using the wrong terminology.  We extend BaseResource https://docs.adminjs.co/BaseResource.html and make our own custom adapter.  The BaseResource functions are the ones we would need the user auth added to so we can do the data filtering.

[2022-08-30 17:14] dziraf commented on #1229
Can you share a repository where I can reproduce this and some information about your OS etc? I've just tried reproducing in a project I'm working on privately and it passes although I'm getting a warning:
[code]

[2022-08-30 17:25] DenizUgur commented on #1229
Hello, after investigating the problem I've found the root cause. Error log was already pointing out but the problem was my tsx files were being compiled like this:

[code]

When I switched to jsx and used the original export like this:

[code]

The error was gone. So this is either a typescript related configuration problem or something about rollup configuration.

[2022-08-30 21:17] AshotN commented on #1225
That's what I tried, the handler doesn't trigger if you supply and `data`

[code]
Doesn't trigger handler

[code]

Does

[2022-08-30 21:44] AshotN commented on #1185
This seems to effect custom pages in general.

[2022-08-31 05:09] #1229 closed

[2022-08-31 05:10] dziraf commented on #1219
Closing because no response from original poster

[2022-08-31 05:10] #1219 closed

[2022-08-31 05:11] dziraf commented on #1218
@VasilNikolov You should be able to create a PR but you have to fork the repository first

[2022-08-31 05:12] dziraf commented on #1217
I'm moving this to design system repository.

[2022-08-31 07:47] dziraf commented on #1176
Closing because no response from original poster

[2022-08-31 07:47] #1176 closed

[2022-08-31 07:48] dziraf commented on #1175
Closing because no response from original poster

[2022-08-31 07:48] #1175 closed

[2022-08-31 07:48] dziraf commented on #1155
Closing because no response from original poster

[2022-08-31 07:48] #1155 closed

[2022-08-31 09:39] erkkah commented on #1221
I'm happy.

[2022-08-31 09:39] #1221 closed

[2022-08-31 11:37] ReisoAphi opened #1230 "Can't Install adminJS"
**Describe the bug**
I'm getting issues when installing adminjs.

**Installed libraries and their versions**

**To Reproduce**
Steps to reproduce the behavior:
1. Try to install adminjs the normal way "npm install adminjs @adminjs/express"

**Expected behavior**

Terminal is giving,

npm WARN ERESOLVE overriding peer dependency
npm WARN ERESOLVE overriding peer dependency
npm WARN While resolving:

[2022-08-31 14:24] saurshaz commented on #271
@kiminohero Could u help me with, how u did this
?

[2022-08-31 15:31] synic opened #1231 "Don't understand how to use custom components"
I am using adminjs in nestjs. I want to make a custom component that is basically a form, triggered by a user. Super simple:

[code]

I am adding the action to a record using a "feature":

[code]

In the feature code (where I have access to `UsersService`), how can I find out what "code" they submitted from the custom component? Neither `handler` nor `after` are called when I click the submit butt

[2022-08-31 16:19] dziraf commented on #1231
You would have to use `handleChange` from `useRecord` hook to modify the record which is submitted by `handleSubmit`.

Your other option is to create your own `handleSubmit` method which uses:
[code]
`data` is later available in `request.payload`.

Also
[code]
`releaseComponent` is not defined nor imported anywhere 🤔

[2022-08-31 16:20] dziraf commented on #1230
Have you tried `npm install --force` or just `yarn install`?

[2022-08-31 19:17] synic commented on #1231
Sounds like my coworker got it working with your suggestions. Thank you very much!

[2022-08-31 19:17] #1231 closed

[2022-09-01 09:13] dziraf commented on #1225
I'll try to take a look at this tomorrow

[2022-09-01 09:49] dziraf commented on #1172
@AshotN
I added a new error type: `AppError`
https://github.com/SoftwareBrothers/adminjs/pull/1232

Let me know if this is enough

[2022-09-01 10:37] itamar-owlytics opened #1233 "Retrieve request IP in authenticate method"
I want to retrieve the request IP in the `authenticate: async (email, password) => {` method
There is an option to do it?

[2022-09-01 10:41] dziraf commented on #1233
Not really, the `authenticate` method only has `email` and `password` as arguments. We plan to improve authentication in the future but if you want to customize it your best option is to use non-authenticated admin router and create custom endpoints for auth.

[2022-09-01 10:55] itamar-owlytics commented on #1233
I created this PR:
https://github.com/SoftwareBrothers/adminjs-expressjs/pull/88

It's will be very helpful if you can approve it

Thanks.

[2022-09-01 11:53] rustemkk opened #1234 "Filters drawer - not working properly for boolean or enum values"
**Describe the bug**

1) UI bug - placeholder and selected value in dropdown is shifted up:
<img width="407" alt="Screenshot 2022-09-01 at 13 26 34" src="https://user-images.githubusercontent.com/5126284/187903307-8d4dc93c-7a39-4ec0-8140-a608e6beba73.png">
<img width="406" alt="Screenshot 2022-09-01 at 13 26 58" src="https://user-images.githubusercontent.com/5126284/187903317-de632c58-0794-424f-a5

[2022-09-01 17:16] IFaniry commented on #1227
You have an [official adapter for TypeORM](https://github.com/SoftwareBrothers/adminjs-typeorm).

How feasible it is to build an adapter for [typedorm, a TypeORM-inspired ORM?](https://github.com/typedorm/typedorm)

Could you provide some high level guidelines or even some milestone tasks for _building a custom AdminJS adapter_?

[2022-09-01 18:55] krzysztofstudniarek commented on #1227
@IFaniry there is a very high level guideline in the documentation https://docs.adminjs.co/tutorial-passing-resources.html

You can also follow our contributions guidelines 😉.

@matiasirpac I'm wondering what is the point of AdminJS for DynamoDB since there is a build in AWS admin panel for DynamDB entries editing?

The only answer I could find is a situation when user have to or more different da

[2022-09-01 18:56] krzysztofstudniarek commented on #1234
@jwasiak is it something you can take a look at? 😉

[2022-09-01 22:49] AshotN commented on #1172
This looks great, thank you. Only ask I have is to make the second parameter optional. But it's not a big deal, thanks!

[2022-09-02 00:34] AshotN opened #1235 "Allow api.searchRecords to work off any property"
**Describe the problem feature solves**
using `api.searchRecords()` only lets you search by the title of the resource.

**Describe the solution you'd like**
Add a property to `searchRecords` that allows you to search by any field in a resource.

**Describe alternatives you've considered**
I've made the field I was searching by the title, but it is not ideal.

**Acceptance criteria**
[ ] - Allow a

[2022-09-02 09:40] IFaniry commented on #1227
@krzysztofstudniarek Thank you for your quick response.

After going through the link you gave me, I feel that the dev requirements of what I am trying to do are clearer now.

However, I need further guidance on the contributing guideline part, particularly on the part where I somehow need to run the following hypothetical command and make an npm workspace:

I noted [AdminJS Community Slack](https

[2022-09-02 10:33] krzysztofstudniarek commented on #1227
Thanks for the comment. This make a perfect sen e for me.

As for contributions, does [this](https://github.com/SoftwareBrothers/adminjs/blob/master/CONTRIBUTING.md) makes it a bit more clear?

[2022-09-06 05:50] KimPinot opened #1237 "I got error when upload image"
**Describe the bug**
When I try to upload file, I can't find uploaded object at payload.
So Prisma throws error "Can't find images field!"

**Installed libraries and their versions**
"@adminjs/design-system": "^3.0.0",
"@adminjs/express": "^5.0.0",
"@adminjs/prisma": "^3.0.1",
"@adminjs/upload": "^3.0.0",
"@prisma/client": "^4.1.0",
"adminjs": "6.1.6",

**To Reproduce**
make resource like this
[co

[2022-09-06 08:46] AshotN commented on #1225
@dziraf any luck with this?

[2022-09-06 12:02] dziraf commented on #1225
Sorry, I forgot about this.

I've just tested in our example app (https://github.com/SoftwareBrothers/adminjs-example-app/blob/master/src/admin/index.ts#L109) locally and this look to be working for me:

[code]

[code]

[2022-09-06 17:17] danielpowster opened #1238 "Custom action component does not get bundled"
**Describe the bug**
I am trying to implement a custom edit action with a custom component according to the documentation. I have implemented the handler, added the action to the resource and implemented the component. When executing the action, I receive the following error: You have to implement action component for your Action, although I have implemented it and bundled it with AdminJs

**Insta

[2022-09-06 19:53] AshotN commented on #1225
I messed around with it further, `body-parser` is definitely the cause of my issues. With `body-parser` enabled, if I `console.log` out `req.body` from my auth middleware, I can see the data. But in the handler it's missing.

If I remove `body-parser`, `req.payload` works the same as your example. But I lose the ability to see the data in my Express middleware.

Any suggestions on how to get `body

[2022-09-06 22:51] dziraf commented on #1225
The recommended solution is to `app.use(admin.options.rootPath, adminRouter)` before you `app.use(bodyParser.json())`

[2022-09-07 04:27] wirekang opened #1239 "Adapter without ORM"
**Describe the problem feature solves**
It would be great if `adminjs` supports raw sql adapter.

**Describe the solution you'd like**
I'm trying to make this adapter using `INFORMATION_SCHEMA` database on mysql/mariadb.

[2022-09-07 05:30] dziraf commented on #1238
[code]
This doesn't look like a correct configuration, actions should be defined under `options -> actions`, not directly under `options`.

[2022-09-07 05:49] IFaniry commented on #1227
Sorry for my late response.

Actually, I am asking you for further guidances on how to set up a new AdminJS package because I am new to `yarn link` and `yarn workspaces`.

Could you quote a part of [your link](https://github.com/SoftwareBrothers/adminjs/blob/master/CONTRIBUTING.md) that says how to set up a new package like _@adminjs/dynamodb_, please?

[2022-09-07 08:47] danielpowster commented on #1238
Thank you for your quick response. I had this configured correctly in my example, this mistake got introduced when I copied the code snippet to report the issue, apologies for that. This is the code I use and still face the issue, I will update the original post as well.
[code]

[2022-09-07 08:56] dziraf commented on #1238
What's your operating system (the system where you're running AdminJS)?

Do you use Typescript? I see that you have types in your handler but your component is `jsx`. Are you sure the component is copied into `dist`?

Have you tried with minimal component, e. g. a component returning `<div>something</div>`?

[2022-09-07 09:22] danielpowster commented on #1238
I am on macOS Monterey v 12.4

I am using typescript. Here is the minimal component:
`./customisation/components/match-movies.tsx`

[code]

This is the resulting .jsx file, which is generated into the same folder `./customisation/components/match-movies.jsx`:
[code]

I have noticed that on starting adminjs I get the following warning, I am including it in case they are relevant:
`The 'this' keywor

[2022-09-07 10:56] dziraf commented on #1238
That warning shouldn't matter. Is the action definition file in the same folder as the original one or is it moved to `build`, `dist`, `lib` etc?

[2022-09-07 11:06] xiifain opened #1240 "Cannot serve AdminJS in production environment."
**Describe the bug**
Cannot serve AdminJS in production with NGINX.

**Installed libraries and their versions**

"adminjs": "6.2.0",
"@adminjs/express": "5.0.0",
"@adminjs/nestjs": "5.0.1",
"@adminjs/typeorm": "4.0.0",

**Expected behavior**
It should download the `global.bundle.js` and `app.bundle.js` but currently, it's not accessible.

**Screenshots**
Production
<img width="1421" alt="image" sr

[2022-09-07 11:08] dziraf commented on #1240
Are you sure your nginx server is not blocking AdminJS routes? For example global bundle is served from:
`/admin/frontend/assets/global.bundle.js`

[2022-09-07 11:14] xiifain commented on #1240
I'm pretty sure I'm not blocking the `/admin/` routes.

in this NGINX config, you can see that, I'm reverse proxying all of the `naked` routes to `nestjs backend`.
![image](https://user-images.githubusercontent.com/49685742/188864701-09381323-ee5e-4a4b-af3f-50f76826265b.png)

And in below photo, the `design-system` and `components` bundle are served from the same `/admin/frontend/assets/` folder,

[2022-09-07 11:15] danielpowster commented on #1238
The handler function is defined in `./customisation/ActionHandlers.ts`. tsc compiles the .js file into the same folder:
`./customisation/ActionHandlers.js`.

So I should not use tsc to compile the .tsx file to .jsx? I tried re-running after removing the .jsx file but I am still getting the same result. The relative path to both files is/was the same

Really appreciate your help in figuring this ou

[2022-09-07 11:28] dziraf commented on #1240
Another possibility is that this path here is being resolved incorrectly in your production environment for some reason:
https://github.com/SoftwareBrothers/adminjs/blob/master/src/backend/utils/router/router.ts#L51

Have you considered using [@adminjs/bundler](https://www.npmjs.com/package/@adminjs/bundler) to pre-bundle browser files?

[2022-09-07 11:31] dziraf commented on #1238
The files can be compiled to `jsx`, what matters is that the file should preserve ES Module syntax (`jsx: "react"` in tsconfig). You can also consider specifying an absolute path to the file or a path from the root directory like:

[code]

[2022-09-07 12:17] dziraf commented on #1238
Can you try to change contents of your component to?

[code]

Also, can you check if `.adminjs` folder is created when you start the server?

Another reason why this happens could be something wrong inside of your component. I haven't used jsdoc in custom components personally so there might be some kind of parsing problem?

[2022-09-07 12:24] danielpowster commented on #1238
I have tried with updating my component to your example. I can confirm that the .adminjs folder is created when I start the server, it is created in the root directory, not in dist. I have also tried copying this folder to dist to see if that makes a difference, but still same result

[2022-09-08 08:53] VasilNikolov commented on #1218
Hey, can you review it? I thinks its a solid fix.

[2022-09-08 10:51] #1238 closed

[2022-09-08 13:54] wirekang commented on #940
I made an adapter that doesn't need ORM. Check out [adminjs-sql](https://www.npmjs.com/package/adminjs-sql). It uses Knex and fetch schema from INFORMATION_SHCEMA.

[2022-09-08 14:45] dziraf commented on #1239
@wirekang Thanks for contributing to the project 😄 If you need any technical help with maintaining or developing this, send us a message (preferably on our [Slack](https://adminjs.page.link/slack))

CC @krzysztofstudniarek

[2022-09-09 11:05] Shpackk opened #1243 "Login Attempts"
Is there a way to add login attempts to the login page? Or Recaptcha? Or any other way to secure login page from Brute Force ?

[2022-09-09 14:00] felix-zg opened #1244 "AdminJS doesn't work anymore with node slim docker image"
**Describe the bug**
After upgrade the version from 6.1.1 to any version

**Installed libraries and their versions**

* adminjs@6.2.2
* @adminjs/express@4.1.3
* @adminjs/sequelize@2.1.5

**To Reproduce**
[code]

**Screenshots**
`#9 144.6 npm ERR! npm ERR! code 1
#9 144.6 npm ERR! npm ERR! path /root/.npm/_cacache/tmp/git-clonelCpAxN/node_modules/@parcel/watcher
#9 144.6 npm ERR! npm ERR! command f

[2022-09-10 13:25] goldylucks opened #1246 "Clone Document/DB Entry"
**Describe the problem feature solves**
I have a db record I want to clone/use as template.

**Describe the solution you'd like**
A "clone" button that duplicates the record and modifies unique entries by prefixing them with cloned_

**Describe alternatives you've considered**
dunno

**Acceptance criteria**
1. Clickable clone button
2. On click create a new DB record in the same collection, based

[2022-09-11 01:22] georgelucasgp opened #1247 "Error install Adminjs after the update module version beta (@tiptap/core/dist/tiptap-core.cjs.js)"
@tiptap/core version 2.0.0-beta.193 broke adminjs installation. Back to version 2.0.0-beta.18 to work

[2022-09-11 03:37] on21life opened #1248 ""Join our community on Slack" link on homepage is dead again #1186"
The big button "Join our community on Slack" on your [homepage](https://adminjs.co/) is no longer working:
![image](https://user-images.githubusercontent.com/40256435/189511335-dfa6c3cc-f850-4be3-8a84-480c01f08910.png)

[2022-09-11 06:36] georgelucasgp opened #1249 "Prisma UpdatedAt not working"
The update function does not work on the prisma, only the create

[2022-09-11 13:15] sebsn86 opened #1250 "Upload file with AdminJS"
**Describe the problem feature solves**
Hello,
I want to implement file upload functionality, but I don't understand how to link @adminjs/upload with React DropZone component.

In my custom resource, I added the React component for my "thumbnail" field and uploadFeature in the "features" property.

Stack :
- "adminjs": "6.2.0",
- "@adminjs/design-system": "^3.0.1"
- "@adminjs/express": "5.0.0"
- "

[2022-09-11 18:22] goldylucks opened #1251 "Working locally but not found on production (Heroku)"
**Describe the bug**
Locally everything works fine, on production going to `/admin` results in 404

**Installed libraries and their versions**

* adminjs@6.2.2
* @adminjs/express@5.0.0
* @adminjs/mongoose@3.0.0
* mongoose@6.4.7
* express@4.17.2
* express-session@1.17.3
* express-formidable@1.2.0

**To Reproduce**
Add adminjs to express app, deploy to heroku in a docker container, go to production.

[2022-09-11 18:36] dziraf commented on #1251
I think you have to use `app.use('trust proxy')` and (maybe) `app.use(cors())` to get it working there.

Our demo app: https://github.com/SoftwareBrothers/adminjs-example-app/blob/master/src/servers/express/index.ts
is hosted using Heroku (https://adminjs-demo.herokuapp.com/admin/login) so this is definitely not a bug.

[2022-09-11 23:13] osubeaver808 commented on #1213
I am having the same issue.  Any eta on resolution?

[2022-09-12 05:19] dziraf commented on #1213
Three errors come from other libraries that haven't been updated to React 18. AdminJS wilk work fine id you use yarn or force install using npm as stated above.

[2022-09-12 07:09] dziraf commented on #1248
The correct link is:
https://adminjs.page.link/slack

We will update the button on the website

[2022-09-12 17:34] on21life commented on #1248
[ttps://adminjs.page.link/slack](https://adminjs.page.link/slack) your link is redirected at same page
![image](https://user-images.githubusercontent.com/40256435/189719026-261c0b11-4f93-40a8-8024-87ffbbd550cd.png)

[2022-09-13 10:13] dziraf commented on #1250
What's your reasoning for using a custom component for DropZone? If anything, you should base it on the original one used by `@adminjs/upload` which is a bit more complex than yours:
https://github.com/SoftwareBrothers/adminjs-upload/blob/master/src/features/upload-file/components/edit.tsx

[2022-09-13 10:14] dziraf commented on #1249
Closing because no information nor steps to reproduce have been provided. Please create an issue following the issue template.

[2022-09-13 10:15] #1249 closed

[2022-09-13 10:15] dziraf commented on #1248
@on21life the link should now be working. It looks like there's a limit of 100 people that can join through an invite link so we'll have to refresh those regularly.

[2022-09-13 10:15] #1248 closed

[2022-09-13 10:16] dziraf commented on #1247
Closing because no information about the problem have been provided.

[2022-09-13 10:16] #1247 closed

[2022-09-13 10:24] dziraf commented on #1246
I doubt we will make this as a built-in feature because various ORMs/ODMs use different syntax for creating new records so this `clone` method will have to be included in every adapter that we support.

This can be easily done through a custom action though and that's how we usually implement this in our AdminJS-based projects.

Something like this should work:
[code]

[2022-09-13 10:24] #1246 closed

[2022-09-13 10:32] dziraf commented on #1243
@sviat9440 contributed a retry mechanism to `@adminjs/express`:
https://github.com/SoftwareBrothers/adminjs-expressjs/blob/5ce6a89d69bca7f8b41a234ef8ffaf980f8992fa/src/authentication/login.handler.ts#L80

If you're using it you should be able to specify `maxRetries` when defining your router:
[code]

Otherwise, it is still possible with customization. You can for example predefine your router, set

[2022-09-13 10:34] dziraf commented on #1244
This should be solvable in your Dockerfile: https://stackoverflow.com/questions/59470406/how-to-solve-could-not-find-any-python-installation-to-use-with-docker-node-al

[2022-09-13 10:34] #1239 closed

[2022-09-13 10:38] dziraf commented on #1237
Are you sure the configuration is valid?
`Can't find images field!` implies there should be an `images` fields but I cannot see it in your config.

[2022-09-13 10:39] dziraf commented on #1235
This will be nice to have, however we'll have to plan it first, I'll let you know when it can be implemented once I know myself.

[2022-09-13 10:43] #1233 closed

[2022-09-13 10:43] dziraf commented on #1230
Closing because no response from OP

[2022-09-13 10:43] #1230 closed

[2022-09-13 10:44] sebsn86 commented on #1250
hi @dziraf,

Thanks for your answer :).
Because initially I just implemented the "uploadFeature" imagining that binding it to the entity property would be enough to display the DropZone, but I still had a simple text field. So I thought I had to make a custom component to display the DropZone, and that it would work with the "uploadFeature".

[2022-09-13 10:46] dziraf commented on #1227
@IFaniry You won't be able to name it `@adminjs/dynamodb` because `@adminjs/` is organization prefix, you should however be able to name it `adminjs-dynamodb` or something similar.

The key points of releasing a package is having `name`, `main` and `types` fields specified in your `package.json`.

We use https://github.com/semantic-release/semantic-release to automatically publish new versions.

[2022-09-13 10:46] #1225 closed

[2022-09-13 10:47] dziraf commented on #1218
I merged your PR @VasilNikolov

[2022-09-13 10:47] #1218 closed

[2022-09-13 10:57] sebsn86 commented on #1250
@dziraf thanks for your link's repository !

I understand much better how to use the uploadFeature feature.
Now, it display very well, but I've got an error after save the form.

<img width="1324" alt="image" src="https://user-images.githubusercontent.com/17740746/189883988-1f6cb210-3ceb-4500-bbec-1749d1ddc114.png">

[2022-09-13 11:08] itamar-owlytics commented on #1233
🥲

[2022-09-13 11:34] dziraf commented on #1162
Please try to update Hapi plugin to 6.0.2; I'll reopen if it doesn't work.

[2022-09-13 11:34] #1162 closed

[2022-09-13 11:35] dziraf commented on #1161
You can use either `data` or `params`:
[code]

[2022-09-13 11:35] #1161 closed

[2022-09-13 11:38] dziraf commented on #1250
What operating system are you using? This error typically appears when you try to move a file from one partition/disk to another without making a copy first.

[2022-09-13 11:40] dziraf commented on #1185
Technically `@adminjs/bundler` should work fine as long as you import all files that use `AdminJS.bundle` inside of them.
This is unless they are inside of functions/classes that require to be called/instantiated first. That's why we usually create a file where we assign `AdminJS.bundle` calls to constants that we export.

[2022-09-13 14:46] sebsn86 commented on #1250
MacOS,

I found this issue https://github.com/SoftwareBrothers/adminjs-upload/issues/42.
With a custom Provider, it's works fine !

Your product is truly remarkable.

[2022-09-13 16:13] Shpackk commented on #1243
@dziraf Thanks for the reply ! I'll try it

[2022-09-13 16:13] #1243 closed

[2022-09-14 02:23] KimPinot commented on #1237
I wrote this model from prisma.

[code]

[2022-09-14 08:22] #1250 closed

[2022-09-14 11:45] king-sley-o opened #1252 "Can't install adminjs"
Getting this error when trying to install adminjs

npm ERR! code ENOENT
npm ERR! syscall spawn git
npm ERR! path git
npm ERR! errno -4058
npm ERR! enoent An unknown git error occurred
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent

Tried yarn install and npm install --force still the same thing

[2022-09-14 11:58] dziraf commented on #1252
Can you share more information about your environment, operating system, etc? I've just tried to install it in a new app and there were no issues except for some warnings:
[code]

[2022-09-14 12:06] king-sley-o commented on #1252
Docker on windows, node version 16

[2022-09-14 13:37] ReisoAphi commented on #1252
This issue is happening because you don't have Git installed or the terminal from where you are running "npm i adminjs" doesnt have access to it, just do a quick test on the terminal and run 'Git' command to make sure its running.

[2022-09-14 14:21] king-sley-o commented on #1252
I usually exec into the container (docker exec -it container_name sh) and install packages. I installed adminbro that way last week and other packages without issues. Seems the adminbro site is down and I think it's right to move on with adminjs. There is git but git commands don't run in the container

[2022-09-14 19:54] mwillbanks opened #1253 "API Documentation??"
**Describe the problem feature solves**
A clear document generated from the JSDoc's that used to live... now, there is no way to go and view all of the resource options / etc from the site making things extremely difficult to locate what options are able to be passed.  For example; I am looking for customizing a Resource, however, I cannot determine what all of the various properties are besides d

[2022-09-14 21:03] dziraf commented on #1253
The old "API reference" documentation is still available here: https://adminjs-docs.web.app

The new tutorial-styled documentation is what people preferred over API reference when we asked our Slack community; most people couldn't find relevant information there and still asked questions that had been asked numerous amount of times, that's why we switched the priorities.

The API documentation, al

[2022-09-15 18:41] ReisoAphi opened #1254 "How to pass CSS to the dashboard?"
I'm trying to create my own dashboard but when I send the react to it, it doesnt work with the CSS, how can I set this up ?
![image](https://user-images.githubusercontent.com/87125229/190484139-a253dcd6-581e-4f41-911c-7a5fe1fa734c.png)

[2022-09-16 07:13] Adeshpreet-Singh commented on #1254
![XD](https://user-images.githubusercontent.com/95892485/190578729-04164212-e77d-471d-ad8e-953b084f6bf1.jpg)

This will help you.
Make sure you use JSX or TSX extension only for dashboard component.

[2022-09-16 11:21] goldylucks commented on #1246
Hey thanks @dziraf !

I've tried it and the document doesn't get cloned, this is the response:

[code]

[2022-09-16 20:29] twensons opened #1255 "Got error when try to create new user"
I have installed all like in documentation from here - https://docs.adminjs.co/tutorials/adding-role-based-access-control,
but when i try to create new user from /admin/resources/User/actions/new
i got an error "There are validation errors - check them out below" and no additional info.
I can modify user, but not create.

Only i have that problem?

[2022-09-17 03:48] Tushant commented on #677
[code]

I am also getting similar issue. I am using prisma 4.

[2022-09-18 17:25] Cod4h opened #1256 "AdminJs crashes after some hours of working fine"
**Describe the bug**
After some hours of having adminjs express server running in my ubuntu server it stops working with the following error:

[code]

[2022-09-18 19:56] velidan opened #1257 "Nest.js mongoose schema resource error"
**Describe the issue**
When I try to use the mongoose schema from the official Nest.js documentation `[Mongo with Mongoose](https://docs.nestjs.com/techniques/mongodb)` as a resource for the Admin.js the error occurs.

[code]

**Installed libraries and their versions**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install Nest.js (latest), install Mongo/mongoose, and all the requir

[2022-09-20 13:00] dziraf commented on #1257
I don't really use Nest nor Mongoose much, but have you tried to pass `Order` instead of `OrderSchema` into `resources`? Unless `@nestjs/mongoose` schema is different than `mongoose` schema. Our current documentation (https://docs.adminjs.co/installation/adapters/mongoose) and demo app doesn't use `@nestjs/mongoose`

[2022-09-20 13:03] dziraf commented on #1256
It's difficult to guess what's the exact cause is but it looks to be coming from `express-session`. Have you set up a session store for your user sessions or does it keep them in server's memory?

[2022-09-20 21:46] GuiziBr opened #1259 "Tooltip removes special characters"
**Describe the bug**
When adding a description to a property so the tooltip can be displayed in the edit page, all special characters are removed (even using html code), all text words are capitalized and long texts are covered by side menu

**Installed libraries and their versions**

* adminjs@5.5.1
* @adminjs/express@4.0.1
* @adminjs/nestjs": "^4.0.1",
* "react": "^16.13.1",

**To Reproduce**
St

[2022-09-21 15:14] Cod4h commented on #1256
No, I probably haven't.

[2022-09-21 15:15] Cod4h commented on #1256
How could I do that? I didn't read any documentation that said it required this.

[2022-09-21 20:06] wdfinch opened #1260 "Allow properties to be disabled for certain users"
**Describe the problem feature solves**
I have a resource, and within that resource there are properties. I want to disable the editing of certain properties **only** for certain users. I can hide actions using an `IsFunction` which gets the current user and returns a boolean. I would like something similar for the `isDisabled` options on `PropertyOptions`.

**Describe the solution you'd like**
On

[2022-09-21 23:38] olucasandrade opened #1261 "Block properties and actions"
I'm new on AdminJS so sorry if i don't know about something. But i have on my database some properties like `active` and `creationDate` that cannot be created by admin, because on creation, they are default values (`true` and `new Date()`, respectively). I need to disable this fields or something like that.

Besides that, i need also to block some resource actions, like delete and create in some c

[2022-09-22 17:03] velidan commented on #1257
Hi @dziraf , thank you for your feedback. Yes, I tried to use the Order but it also doesn't work. Probably it's a bit different than the mongoose native stuff.
So, if I understand correctly, if I want to use the Admin.js with Nest.js I shouldn't use their mongoose package but rather use the native mongoose schema, etc. ?

[2022-09-23 08:15] dziraf commented on #1261
For actions: https://docs.adminjs.co/basics/action#changing-visibility-and-accessibility-of-an-action
For properties: https://docs.adminjs.co/basics/resource#changing-visibility-of-properties

[2022-09-23 08:17] dziraf commented on #1260
You could try to use `layout` in an action:
[code]
There is currently no way to differentiate `edit` and `new` using layout though and if you want different properties to be displayed in `new`, then you'd need a custom component for that.

[2022-09-23 08:19] dziraf commented on #1259
Can you share your property configuration? To support special characters you might have to use locale/translation like in the example here:
https://github.com/SoftwareBrothers/adminjs/blob/master/src/backend/decorators/property/property-options.interface.ts#L117

[2022-09-23 08:30] dziraf commented on #1257
I'm 99.9% certain that with native mongoose package and schema it will work. Still, if it doesn't work with `@nestjs/mongoose` that isn't good too. It's strange though as other `@nestjs/package` work fine. If it's possible can you prepare a repository where I can reproduce this so I can prepare a fix?

[2022-09-23 08:33] dziraf commented on #1256
There is an example here: https://docs.adminjs.co/installation/plugins/express#authenticated

It isn't strictly required, but if your session is saved in-memory it can be lost. AFAIK when you start your server there should be a warning saying that MemoryStore isn't advised for production.

[2022-09-26 00:41] VictorMachadoJosviak opened #1263 "Action handler is not called with MikroORM in NestJS"
**Installed libraries and their versions**

* adminjs@6.2.4
* @adminjs/express@5.0.0
* @adminjs/mikroorm@2.0.0
* @adminjs/nestjs@5.0.1
* @mikro-orm/core@5.3.1
* @mikro-orm/nestjs@5.1.0

**Action handler is not called**
I've been trying to develop with nestjs with adminJS, however in configurration of `AdminModule`, where is called `createAdminAsync` method, in property `useFactory`, I initialized

[2022-09-26 23:52] NikkiDelRosso commented on #668
Is it still possible to specify field types for JSONB fields in ResourceOptions? I can't find any documentation for how to implement what was described, and it looks like this might not be relevant anymore to the current version.

[2022-09-27 00:25] NikkiDelRosso commented on #668
Ahh, I was able to find the documentation for [ResourceOptions properties](https://adminjs-docs.web.app/ResourceOptions.html#properties) after a bit of digging and got this working.

[2022-09-27 07:19] dziraf commented on #1263
I think your config is incorrect.

You have:
[code]
It should probably be:
[code]

[2022-09-27 07:20] #1261 closed

[2022-09-27 07:20] #1260 closed

[2022-09-27 07:20] #1259 closed

[2022-09-27 07:21] #1256 closed

[2022-09-27 07:21] #1255 closed

[2022-09-27 07:22] #1254 closed

[2022-09-27 07:22] dziraf commented on #1253
I will close this for now, the new documentation now has a link to the old API Reference in the sidebar.

[2022-09-27 07:22] #1253 closed

[2022-09-27 07:23] #1244 closed

[2022-09-27 16:11] promentol commented on #1156
I have same issue with prisma, can anybody help me?

[2022-09-27 21:46] olucasandrade commented on #1261
Thank you! @dziraf! I still have some things to solve but you helped me most

[2022-09-28 03:19] duongapollo commented on #1257
i had the same isssue, the conosle said: "cannot read property 'paths' of undefined"

[2022-09-28 12:45] toutpuissantged commented on #607
thanks , it work for me too

[2022-09-28 14:25] VictorMachadoJosviak commented on #1263
Great thanks!
It worked now! 🚀

[2022-09-29 09:01] jwasiak commented on #1234
fixed

[2022-09-29 17:02] haplo commented on #708
I also reached this issue because I have a M2M table that wanted to have in AdminJS, and it was failing because it has a composite primary key made of two columns. Is AdminJS never going to support composite keys? Having to add another primary key field is a hack in my opinion.

[2022-09-29 17:54] dziraf commented on #708
how do you expect in-app routing to work with composite keys? currently `recordId` is a single identifier

[2022-09-30 12:05] haplo commented on #796
I am exactly in this situation: a JSON field with an arbitrary structure, and AdminJS won't show it nor allow editing it, and there is no workaround that I could find. Just editing the JSON as a string would suffice, I don't need anything more user-friendly.

One would think that the most common case for a JSON field in a SQL database is to have arbitrary data, because if you have a predefined str

[2022-09-30 12:21] csabav-coder commented on #968
in my case (using express js), I had to specifically allow proxy to be able to set secure session cookies:
`this.app.set('trust proxy', 1);`

[2022-10-02 20:19] velidan commented on #1257
@dziraf Hi, I've tried to create a single dedicated repo with the minimal amount of code that contains the issue, hope it helps.
If you need some help, please, let me know:
https://github.com/velidan/adminjs-nestjs-mongoose-issue

to reproduce an issue:
1) install node_modules
2) run the mongod (mongo server)
3) stand the nest.js app (yarn start:dev)
4) try to open the Admin.js page http://localho

[2022-10-03 12:30] petrakoww opened #1266 "Object's values in array of objects aren't displayed"
**Describe the bug**
When I try to view a document with array of objects, the values aren't displayed, but everything in Mongo seems fine.

**Installed libraries and their versions**

* adminjs@4.0.1
* @adminjs/express@5.0.0
* @adminjs/mongoose@3.0.0
* "express": "4.18.1",
* "mongodb": "4.8.0",
* "mongoose": "6.5.2",

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '..

[2022-10-04 07:42] dziraf commented on #1266
You either have to define every sub property with `new Schema(...)`:
[code]

or describe properties in AdminJS resource options for your model - this is how it works for every other adapter/orm/odm:
[code]

[2022-10-04 08:21] rustemkk commented on #1234
@jwasiak @krzysztofstudniarek
Hi, thank you so much, think now its better, at least for multiple options dropdown it works as expected.

For boolean dropdown still has issues, tested on m,y project with latest admin libraries and tested on your [demo website](https://adminjs-demo.herokuapp.com/admin/resources/orders) (Admin: 6.2.5-demo.1 App: 2.0.0).

Right now if you select value for boolean filt

[2022-10-04 08:54] petrakoww commented on #1266
Using the first solution works. But with the second I'm getting the fields but with no values.

![image](https://user-images.githubusercontent.com/71382276/193777433-a6f4182b-7036-4186-92a9-43e899a6736b.png)
![image](https://user-images.githubusercontent.com/71382276/193777271-f141aef3-42a6-4553-85cd-d736fa0f0cba.png)

[2022-10-04 10:07] dziraf commented on #1266
Can you show how `record.params` look like in your Network response?

[2022-10-04 10:50] petrakoww commented on #1266
[code]

[2022-10-04 10:51] petrakoww commented on #1266
[code]

[2022-10-04 10:53] petrakoww commented on #1266
[code]

[2022-10-04 18:28] mohamednazmi1 opened #1267 "Filter doesn't work on TypeORM columns with transformers"
**Describe the bug**
When I search an entity `User` by a field/column `name` that has a transformer, the filter returns no result at all. When I delete the transformer, the filter works!

A sample of my entity:
[code]

My packages:
* adminjs@6.2.4
* @adminjs/nestjs@5.0.1
* @adminjs/typeorm@4.0.0
* typeorm@0.3.7

[2022-10-06 09:35] semyonpukhovgeo commented on #255
same here. adminJs version "6.1.1" locally all works perfect, but in prod mode see error like component is undefined.
AdminJS.UserComponents always empty object on prod and request to /assets/components.bundle.js throw 404. looks like it not generated during production build

[2022-10-07 07:06] Cod4h commented on #1256
Yes! That perfectly worked. Sorry for the delay.

[2022-10-07 07:16] Cod4h opened #1270 "How to "minify" design-system.bundle.js so dashboard doesn't take 20 seconds to load."
I'm facing an issue when I connect to my adminjs panel remotely:

When I go to my adminjs panel URL it takes 20 seconds to load the login page and sometimes it takes even more.

![1](https://user-images.githubusercontent.com/87586393/194492349-5a2d4a91-6f4a-449e-8485-7f9f21db7631.png)

For some reason "design-system.bundle.js" from frontend/assets/ is 35,86 MB.

I know that there is already a clos

[2022-10-07 11:30] dziraf commented on #1270
The bundles are minified only if your `NODE_ENV` is `production`.

Nevertheless, design system bundle is still huge. I've recently done some changes which reduce the production bundle size from 6-7MB to 2-3MB but that's still big. The size comes from `@carbon/icons-react` library, otherwise design system would probably be around 500KB. I plan to either remove `Icon` component from the design syste

[2022-10-07 13:46] haplo commented on #708
I'm not intimate with AdminJS internals, but could `recordId` be a list with the primary key columns?

[2022-10-07 18:16] Cod4h commented on #1270
Hello dziraf! Thanks for answering.

I already saw in another similar issue that you answered that I should set NODE_ENV to "production" so the bundle gets minified.

The problem is that I already set `process.env.NODE_ENV = 'production';` before creating the adminjs object but it stills doesn't get minified.

Am I doing it wrong by adding that line in the app.js code before creating adminjs?
If y

[2022-10-08 17:14] ivictbor commented on #429
@wojtek-krysiak and then you will see only this one column, right?
Is it possible to config admi js to have table on mobile? I am now switching to Desktop mode on my mobile chrome  to at least access the table data, though they are look very wierd anyway, also seams like pagination in this mode is not working. Probably there are at least some plugins?

[2022-10-10 15:43] KHJcode opened #1272 "You must provide selection conditions in order to find a single row."
**Describe the bug**

[code]

<br/>

`findOne(id)` signature was dropped in [Typeorm 0.3.0](https://github.com/typeorm/typeorm/releases/0.3.0).

But AdminJS is still using [this code](https://github.com/SoftwareBrothers/adminjs/blob/master/src/backend/controllers/api-controller.ts#L159).
Do you have any plans to suggest solutions to this, except for the version downgrade?

<br/>

**Installed libra

[2022-10-11 07:00] dziraf commented on #1272
You are using outdated packages.
`@admin-bro/typeorm` is now `@adminjs/typeorm`
`@admin-bro/express` is now `@adminjs/express`
`admin-bro` is now `adminjs`

[2022-10-11 11:14] krzysztofstudniarek commented on #1170
I believe the documentation is much better right now. Please take a look at docs.adminjs.co ;)

[2022-10-11 11:14] #1170 closed

[2022-10-11 11:19] krzysztofstudniarek commented on #1034
Hey, the docs is currently rewritten to new format, we'll work on improving it further.

[2022-10-12 07:35] dziraf commented on #1266
This seems to be a correct response to me. Did you consider updating `adminjs` to the latest version? I think there were some fixes to `mixed` type throughout the last year or two.

[2022-10-12 11:40] petrakoww commented on #1266
There has been a mistake in the description. My version is 6.2.4.

[2022-10-13 07:09] KHJcode commented on #1272
Does that mean that the current admin.js code supports it?

[2022-10-13 10:19] dziraf commented on #1272
`adminjs` is ORM agnostic, the code you linked uses underlying ORM adapter which in your case is `@admin-bro/typeorm`. `@adminjs/typeorm` has been supporting typeorm 0.3.x+ for months now.

[2022-10-13 15:48] KHJcode commented on #1272
Thank you for your quick response.

[2022-10-13 15:49] #1272 closed

[2022-10-13 20:44] Craig1f opened #1276 "Can't null out numeric field with postgres"
**Describe the bug**

When trying to use adminjs to clear the value of a nullable field of type "numeric", the value is not removed. Instead, it is set to `1` after reload.

**Installed libraries and their versions**

* adminjs@6.2.4
* @adminjs/express@5.0.1
* @adminjs/sequelize@3.0.0
* postgres 13.5

**To Reproduce**
- Use postgres version 13.5
- Set a field to the type: "numeric". Field is nulla

[2022-10-16 13:33] weilitao opened #1277 "Dose adminjs support default value for property?"
Hello, I'm using adminjs with mongoose. Suppose my schema have a property with default value like this:
`
const MySchema = new Schema({
  key: { type: String, required: true },
  level: { type: Number, default: 1, required: true },
});
`

In adminjs resource page, there is no default value for 'level', only empty input box.

So dose adminjs support default value for property? Thanks.

[2022-10-18 20:48] dziraf commented on #1277
Mongoose should set your `level` to 1 if you leave the form field empty, but the form is not autofilled with your ORM's/ODM's defaults.

[2022-10-19 03:41] igordelorenzi commented on #960
@kosie99, did you figured out what was missing in your configuration? My setup isn't showing "logout" option too!

[2022-10-19 07:02] weilitao commented on #1277
Thanks. So it there any method which make resource admin webpage use the default value? or just set an initial value when resource creating page shown.

[2022-10-19 14:32] prabhasprd commented on #271
properties: {
        Current_status: {
          availableValues: [
            { value: 'active', label: 'active' },
            { value: 'de-active', label: 'de-active' },
            { value: 'pending', label: 'pending' },
            { value: 'reject', label: 'reject' },
          ],
        }
      },

[2022-10-19 15:29] pinkynrg opened #1279 "Support for AdonisJS"
I quickly read the "getting started" documentation and it looks like AdonisJS is not supported.  Am I correct? If yes, will it be supported in the future?

It looks to be a pretty popular MVC server written in Node and I was sad not to find support for it.

Thanks :)

[2022-10-20 11:25] hasrat-malik opened #1281 "User gets Stuck b/w "Edit" and "Show" Screen ,when User taps on Back button from Edit Screen"
The user gets Stuck on b/w "Edit" and "Show" Screen when the User taps on the Back button from Edit Screen in the admin js

* adminjs@5.10.0
* @adminjs/express@4.1.0
* @adminjs/sequelize@2.1.5
... mongo, express (whatever you think is relevant)

Steps to reproduce the behavior:
1. Open one Record from the list
2. Click on “Edit” >> Click on the “Back” Button
3. Again Click on the “ Back” Button
4.

[2022-10-21 06:53] dziraf commented on #1281
@hasrat-malik we're currently working on fixing this.

[2022-10-21 06:53] matex1024 opened #1282 "solr integration"
create connector to adminjs-solr like node-solr

**Describe the solution you'd like**
integrate solr with adminjs for every record added to do DB I want to have option to index this in solr and create collections and fields in search engine like solr or elastic search

**Describe alternatives you've considered**
this is test feature proposal

**Acceptance criteria**
-integration with solr
-add fie

[2022-10-21 06:54] dziraf commented on #1279
cc @krzysztofstudniarek

[2022-10-21 08:20] krzysztofstudniarek commented on #1279
Hey @pinkynrg

Currently we're focusing on different aspects of AdminJS. Adding AddonisJS is not on our roadmap currently.

Kind regards,
Krzysztof Studniarek

[2022-10-21 08:20] #1279 closed

[2022-10-22 08:23] sneat opened #1283 "TypeError: items.map is not a function in Edit.ts for array resources with files"
**Describe the bug**
Creating a resource of `type: 'mixed', isArray: true, isDraggable: true` results in an `Object` rather than an `Array` when editing an entry and combined with the `uploadFeature`.

**Installed libraries and their versions**

[code]

**To Reproduce**

Resource definition:

[code]

Feature definition:

[code]

![image](https://user-images.githubusercontent.com/293277/197327951-1

[2022-10-22 08:40] goldylucks opened #1284 "Rest API & API Client Don't work"
**Describe the bug**
Rest API
All requests redirect, even when passing auth:
[code]

API Client
Inside a cypress e2e test, this crashes:

[code]

so had to do:
[code]

but the baseUrl doesn't do anything.

**Installed libraries and their versions**

* adminjs@6.2.2
* @adminjs/express@5.0.0
* @adminjs/mongoose@3.4.0
"express": "4.17.2",
    "express-formidable": "^1.2.0",
    "express-session": "^1

[2022-10-22 10:59] goldylucks opened #1285 "Must provide required fields with default values in mongoose when updating document"
**Describe the bug**

Getting a UI error "please fill out this field", coming from the browsers' native html form validation.

That field has a default value in the schema:
[code]

Since the sessionId has a default value, I shouldn't be requested to input it when creating a user, it should just take the default value.

**Installed libraries and their versions**

* adminjs@6.2.23
* @adminjs/express

[2022-10-22 16:54] jdme opened #1286 "Import an external package from within a custom component"
I'm trying to create a custom component to edit a property, but struggled with an issue.
[Documentation](https://docs.adminjs.co/tutorials/writing-your-own-components#dependencies) says:

But what if I want to use an external package, how should I require it?
I've installed a package to the main `package.json` file, added an import to the custom component `edit.jsx`, but got the error:

It seems l

[2022-10-22 17:28] dziraf commented on #1286
Please share your code. Currently it's impossible to directly import css files into your components

[2022-10-23 18:26] twensons opened #1287 "Selecting multiple categories"
Hello! Thank you for such a great admin panel!
I have small problem. I can't get multiple categories to be selected.

I have "Categories" mongo model:
[code]

And i have "Products" mongo model:
[code]

As you can see, i am passing the list of categories via:
    `productCategory: { type: Schema.Types.ObjectId, ref: 'Categories' }`

And for adding one category, it works perfect!

But, i can't under

[2022-10-24 08:00] matex1024 commented on #1287
Currently, we don't support out of the box many to many relations in any ORMS that we have plugin. For mongo you will have to create your own solution that allows you to connect multiple categories. We have plan to add this in futurefor all ORM. Here is some useful information for how this should work in monoose https://stackoverflow.com/a/17223701

[2022-10-24 21:24] jdme commented on #1286
@dziraf thank you for the reply and sharing the idea about css. It seems the react component, which I import [jsoneditor-react](https://github.com/vankop/jsoneditor-react), is importing css file internally. With another library [vanilla-jsoneditor](https://www.npmjs.com/package/vanilla-jsoneditor) it works just fine.

[2022-10-24 21:24] #1286 closed

[2022-10-25 07:29] rustemkk commented on #1234
@jwasiak @krzysztofstudniarek
Hey guys, the problem still present, should I make new issue or could you please reopen this one?

[2022-10-25 07:54] twensons commented on #1287
Thanks for your answer!

[2022-10-25 09:17] neerajgupta2407 commented on #957
@dziraf I am having the same issue.
Tried the solution you mention but it's not working.
Is it possible to share an example.

In My case, my primary key is `id` which needs to treated as primary key instead of `_id`.
Below is my config  for User , but when i click on user, it is unable to get pk.

`const UserResourceOptions = {
  resource: User,
  options: {
    navigation: usersNavigation,
    li

[2022-10-25 09:38] dziraf commented on #957
@neerajgupta2407 can you try to also add `_id: { isId: false }`?

[2022-10-25 11:17] krzysztofstudniarek commented on #1234
Reopening this one is fine. @jwasiak will you be able to take a look on this?

[2022-10-25 11:26] neerajgupta2407 commented on #957
@dziraf Even after adding `_id: { isId: false }`, it's not working.

My updated config.

`const UserResourceOptions = {
  resource: User,
  options: {
    navigation: usersNavigation,
    listProperties: ['id', 'name', 'email', 'role'],
    properties: {
      _id: { isId: false },
      id: { isId: true },
    },
  },
};`

[2022-10-25 11:42] dziraf commented on #1234
Just leaving a note on:

The drawer is closed on purpose, otherwise when you open a direct link with `filters.x` present in the address bar, it will open a drawer instead of simply displaying filtered records.

[2022-10-25 12:55] dziraf commented on #957
I think I know a reason why this happens. Will try to fix soon.

[2022-10-25 15:32] rustemkk commented on #1234
@dziraf Oh yeah, you're right about that one, this must be new version behavior, in previous version (v.5) drawer stood open after applying filters :)

[2022-10-26 04:25] neerajgupta2407 commented on #957
@dziraf Thanks for the acknowledgement.I really appreciate it.

But i have a concern now. Since i am using AdminJs as my admin panel, may i know by when you are planning to fix this ?

[2022-10-27 22:28] NikkiDelRosso opened #1289 "node_modules for package is over 200 MB"
**Describe the issue**
The dependencies for this package use up over 200 megabytes of space in my `node_modules` folder.

[code]

**Installed libraries and their versions**

* adminjs@6.2.3
* @adminjs/express: 5.0.0,
* @adminjs/nestjs: 5.0.0,
* @adminjs/prisma: 3.0.1

**To Reproduce**
Steps to reproduce the behavior:

1. Create a new npm project in an empty directory
2. Install adminjs: `npm insta

[2022-10-27 22:42] NikkiDelRosso commented on #1289
I'm realizing that installing this in a fresh directory is showing some different sizes for the @carbon/icons-react and @adminjs/design-system folders, so I updated from 6.2.3 to 6.4.1 and see that the package size is now around 87MB. 😅 So I think this has already been addressed!!

Sorry for not checking before submitting a ticket 😉

[2022-10-27 22:42] #1289 closed

[2022-10-28 08:00] #1287 closed

[2022-10-31 19:57] rodrigorssa commented on #1284
Same here.

[2022-11-02 08:12] CezarManea commented on #1234
I can also confirm that for boolean values the issue hasn't been fixed.
Can we reopen this?

[2022-11-02 14:42] slidenerd commented on #932
It is still not resolved completely. I have updated the issue mentioned above

[2022-11-04 08:01] dziraf commented on #1285
Currently AdminJS doesn't use defaults at all, they're handled entirely by ORM/ODM. On the other hand, some of our adapters use `required` option to determine whether to force that field to be required in HTML form.

You can hide that field or make it "not required" by updating resource's `properties` config.

[2022-11-04 11:14] dziraf commented on #1252
Does the problem still exist on the latest versions of our packages? We currently don't have any dependencies that link to github repositories instead of npm registry.

[2022-11-05 04:13] mecs072387 opened #1292 "I'm Twin Software"
**Describe the problem feature solves**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Acceptance criteria**
List of

[2022-11-05 08:32] #1292 closed

[2022-11-05 10:53] revskill10 commented on #95
How to upload to cloudinary ? Do we have plan for it ? Thanks.

[2022-11-06 09:12] goldylucks commented on #1285
Thanks @dziraf

What you offer is a workaround yes?
Seems like a bug in the mongoose adapter?

[2022-11-07 11:26] proflamyt commented on #1088
@dmexs could you help add an authentication for your POC ?

[2022-11-07 18:46] AndiLuo opened #1293 "'isAccessible' action property throws undefined when using custom action/component"
**Describe the bug**
I'm trying to implement access control using the 'isAccessible' action property. Currently, I'm storing a 'permissions' array in the 'CurrentAdmin' context of adminJs and accessing it through the isAccessible parameter.

So far, this works for the base AdminJS CRUD operations (new, delete, show, list...etc). However, it's not working when I pass 'isAccessible' in to a **custom

[2022-11-09 08:50] Dat10496 opened #1295 "After login on heroku it's still redirect to login page"
**Describe the bug**
I deploy on heroku, i access to login page and login, but it's still redirect to login page instead of to homepage. But in local, it works normally

**Installed libraries and their versions**

my dependencies
* "@adminjs/express": "^5.0.1",
* "@adminjs/mongoose": "^3.0.1",
*  "adminjs": "^6.5.0",

Can anyone help me???

[2022-11-11 16:25] dhwaj1902 opened #1298 "React error in production"
**Describe the bug**
While going for production, I am getting this error for the react when I implement the authentication.

```Minified React error #321```

![image](https://user-images.githubusercontent.com/57860123/201385216-083891cd-ea51-4e69-98a3-25b25e7c91d1.png)

[2022-11-14 04:16] Dat10496 commented on #1295
up!

[2022-11-14 07:46] matex1024 commented on #1298
please check our example-app authentication integration.

[2022-11-14 07:46] #1298 closed

[2022-11-14 07:46] dziraf commented on #1298
You seem to be using `admin-bro` which is outdated, we rebranded to `adminjs` in June 2021.

Make sure all your packages are `adminjs` and `@adminjs/*` for subpackages.

[2022-11-14 07:48] dziraf commented on #1295
Have you followed our [documentation for Express](https://docs.adminjs.co/installation/plugins/express#authenticated) and set up a session store for your remote environment? You're being redirected back because the session cookie is not created which can be due to many reasons but I'd start with setting up the session store.

[2022-11-14 08:12] dziraf commented on #1284
`ApiClient` was never meant to be used outside of AdminJS panel, it's an internal client for the ui to communicate with the backend

[2022-11-14 08:31] goldylucks commented on #1284
Is there a reason for that?

[2022-11-14 08:35] dziraf commented on #1277
I don't think there's an easy way currently. We plan to make changes to `new` action so that it allows you to fetch some data from the backend, but currently I think you'd have to create a custom component for specific properties.

[2022-11-14 10:22] dziraf commented on #1284
No particular reason, we've just never had a reason to use it outside of AdminJS and it's purpose was to be an internal client. We can consider making it a client that works outside of AdminJS, but tbh it's just a wrapper around `axios`.

[2022-11-14 12:34] Dat10496 commented on #1295
AdminJS.registerAdapter({
  Resource: AdminJSMongoose.Resource,
  Database: AdminJSMongoose.Database,
});

const admin = new AdminJS(Admin);

const sessionStore = new MongoDBStore({
  uri: mongoUri,
  collection: "sessions",
});

const adminRouter = AdminJSExpress.buildAuthenticatedRouter(
  admin,
  {
    authenticate,
    cookieName: "adminjs",
    cookiePassword: "sessionsecret",
  },
  null,

[2022-11-14 12:38] goldylucks commented on #1284
Gotcha.

What about the API endpoints?
That doesn't work as well, eg

[code]

[2022-11-14 12:39] dziraf commented on #1295
Is your `NODE_ENV=production`? Heroku app's url is secure so:
[code]
`secure` flag must be set to `true` for the cookie to be created

[2022-11-14 12:41] dziraf commented on #1284
I think you'd first have to retrieve the cookie from `/admin/login` and use it in subsequent requests although I'm unsure, haven't had a need to use it outside of AdminJS as well 🤔

[2022-11-14 15:18] goldylucks commented on #1284
hmm, so not very usable :)

ok, closing

[2022-11-14 15:18] #1284 closed

[2022-11-14 19:40] tranghaviet commented on #1014
@Boredude you can follow this. AdminJS and Admin Bro are quite similar
[code]

[2022-11-14 19:44] tranghaviet commented on #1014
and others [Compatible Session Stores](https://github.com/expressjs/session#compatible-session-stores)

[2022-11-16 07:32] Dat10496 commented on #1295
when i set config var on heroku NODE_ENV='production'
and set like this
cookie: {
httpOnly: process.env.NODE_ENV === "production",
secure:  true,
},

it's still not work, and i check cookie not create on heroku but in local it is still normal

[2022-11-17 09:59] logsol commented on #1277
Bump 👊
I am also interested in setting up default values for certain properties in the new action. Too bad this doesn't work yet.

[2022-11-17 13:47] akhmado opened #1300 "How to run admin in production mode with authentication router (sessions) ?"

[2022-11-17 16:39] rayryu7 opened #1301 "Custom dashboard link is broken"
**Describe the bug**
Custom dashboard link is broken. https://docs.adminjs.co/tutorial-custom-dashboard.html
How I can customize dashboard?
I tried to revise this file "adminjs/src/frontend/components/app/default-dashboard.tsx" and build but nothing changed

[2022-11-17 16:54] dziraf commented on #1301
https://docs.adminjs.co/ui-customization/writing-your-own-components#overriding-internal-adminjs-components

You can use component loader `override` to override `'Dashboard'`.

[2022-11-17 18:17] dmexs commented on #1088
@proflamyt I stopped work on implementing adminjs for a while due to competing projects but will likely get back to it in a couple weeks/months. I'll share what I can when I do!

[2022-11-18 12:15] BrandonNunes commented on #1301
Hi everyone, error trying to overwrite component
_Error: Component 'Dashboard' is not defined, use .add() instead
    at ComponentLoader.override_
    my code:
[code]
There is something wrong?

[2022-11-18 14:30] csabav-coder commented on #1169
I had the same issue with sequlieze ORM.
Please, when you will update the documentation, mention this also. This would help many who use sequlize.

[2022-11-18 22:57] Akifcan commented on #1038
if you need to hide href resources
use this
[code]

[2022-11-19 15:07] jmaric opened #1303 "named export ComponentLoader not found"
* adminjs@6.6.5
* @adminjs/express@5.0.1
* @adminjs/sequelize@3.0.0

I have been trying to customize my Adminjs component from Node js and when I import ComponentLoader  there is error
named export ComponentLoader not found

Later on I tried to import pkg from 'adminjs'
and then  'const {ComponentLoader} = pkg'
But then it says:

 Trying to bundle file 'file:/Users/Josip/WebstormProjects/ferry-bac

[2022-11-19 16:48] trangvu9 opened #1304 "Add babel plugins for custom components"
Hi there,

I'm building a custom dashboard that uses tailwind css.

I got error that said something about ```@babel/plugin-proposal-decorators``` plugin is required.

I fiddled around with the ```bundler.babelConfig```, but it seems it screwed up other things. I tried to copy the babelrc here and add adapt the plugin to it, still no luck. Any clue?

[code]

Current error:

[code]

Thanks

[2022-11-20 12:58] #1267 closed

[2022-11-22 01:48] DannyFi opened #1306 "How to change the Buffer to String display global"
**Describe the bug**

Error: Objects are not valid as a React child (found: object with keys {type, data}). If you meant to render a collection of children, use an array instead.

**Installed libraries and their versions**

    "@adminjs/express": "^5.0.1",
    "@adminjs/nestjs": "^5.0.1",
    "@adminjs/typeorm": "^4.0.0",

**Expected behavior**

[code]

**Screenshots**

![image](https://user-imag

[2022-11-22 01:48] DannyFi opened #1307 "How to change the Buffer to String display global"
**Describe the bug**

Error: Objects are not valid as a React child (found: object with keys {type, data}). If you meant to render a collection of children, use an array instead.

**Installed libraries and their versions**

    "@adminjs/express": "^5.0.1",
    "@adminjs/nestjs": "^5.0.1",
    "@adminjs/typeorm": "^4.0.0",

**Expected behavior**

[code]

**Screenshots**

![image](https://user-imag

[2022-11-22 04:18] #1307 closed

[2022-11-22 06:21] dziraf commented on #1306
Do you have a custom component there?

[2022-11-22 07:09] trangvu9 commented on #1128
Hey @dziraf, any idea to do this with scss? My custom component does import scss file.

Thanks

[2022-11-23 06:12] goldylucks opened #1308 "All errors are 500 w/o any meaningful info"
**Describe the bug**
All errors we've encountered so far are 500 errors w/o any info, so there's no way of knowing what went wrong. This is true for bad data sent, 404s masking as 500, and bad get requests eg:

[code]

**Installed libraries and their versions**

* adminjs@6.2.2
* @adminjs/express@5.0.0
* @adminjs/mongoose@3.0.0
* mongoose 6.4.7
* 4.17.2
*

**To Reproduce**
Steps to reproduce the b

[2022-11-23 09:56] dziraf commented on #1301
@BrandonNunes try `.add` instead of `.override`. It seems `Dashboard` is not a part of `OverridableComponent`

[2022-11-24 08:23] xweb3 commented on #1306
No, Just config like this document
https://docs.adminjs.co/installation/plugins/nest

[2022-11-25 10:30] CherryDT opened #1310 ""Join our community" Slack link asks me to configure your Workspace?!"
When I click the "Join our community" link and continue with email, I get this:

![image](https://user-images.githubusercontent.com/6010463/203963670-446140af-edd9-434a-9c99-b30da60bf6a7.png)

I'm very confused. (Especially since @glitch.tech is _our_ domain.)

[2022-11-25 12:43] #1310 closed

[2022-11-26 18:18] dortonway opened #1311 "Export list to .tsv"
**Describe the problem feature solves**
Sales teams need to write custom statuses when they make phone calls, like "do not answer"?, and notes etc for their different tasks. They usually do so in Google Sheets / Excel.

**Describe the solution you'd like**
It would be very convenient to have an "Export to .tsv" button on lists, so that when we filter a list we could export it as tab-separated valu

[2022-11-27 08:43] Boredude opened #1312 "TypeError: Cannot read properties of undefined (reading 'default')"
Getting ```TypeError: Cannot read properties of undefined (reading 'default')``` when running

[code]

[2022-11-27 09:16] Boredude commented on #1312
Fixed it by upgrading adminjs to 6.6.5

[2022-11-27 09:16] #1312 closed

[2022-11-27 12:55] dhwaj1902 opened #1313 "React Error"
As in the previous issue https://github.com/SoftwareBrothers/adminjs/issues/1298
I used `admin-bro`, but now I have moved to `adminjs` still running with the same issue.

![image](https://user-images.githubusercontent.com/57860123/204136225-52103178-8d02-47ba-b1d6-f5b0bc510f03.png)

I have all the same dependencies as the example app.

`react`: `^17.0.2`
`react-dom`: `^17.0.2`
`adminjs`: `^5.7.0`

[2022-11-27 13:48] #1313 closed

[2022-11-28 01:18] emiller12 opened #1314 "Pre-bundling frontend assets with new Component Loader"
Hi, I've been loving adminjs so far. I managed to get something basic up and running and hitting my exisiting db very quickly.
I have created some custom pages and managed to surface those in the navigation by following the documentation for the Component Loader here (https://docs.adminjs.co/ui-customization/writing-your-own-components). All of that works fine.

However I have run into a bit of a

[2022-11-29 00:21] XaFaK-01 opened #1315 "No drop-down menu for a string array field with pre-defined enum values."
**Describe the bug**
I have defined a field in my collection as an array of enums. When in editing mode, those enum values are not being shown in the drop-down menu.

Here's the screenshot for the collection of the String type array with defined enums:
![String type array with defined enums](https://user-images.githubusercontent.com/65566056/204407407-257a4a29-f6f1-4789-98e7-6097cec4a880.png)

Her

[2022-11-29 05:35] sourabh1983 commented on #1266
I am using version 6.6.5 with the exactly same issue.

[2022-11-29 08:54] dziraf commented on #1315
You can use `availableValues` in resource options for your property:

[code]

[2022-11-29 08:57] dziraf commented on #1314
The example app will be updated soon, we also want to update & document `@adminjs/bundler`'s usage with ComponentLoader. That said, deploying to a serverless environment might not be the best idea in the end as we had done it before and there had always been issues related to performance and resources usage.

[2022-11-29 09:01] dziraf commented on #1308
[code]
This is likely related to a database error where e. g. `user` field does not exist or is not a `string` type. From my experience with TypeORM/Sequelize, you should be able to see the exact database error in your server's console as long as you enable logging. In case of database errors 500 is a valid status code and it shouldn't be expected to return server/database error to the end user in

[2022-11-29 10:02] vincentwinkel commented on #1170
I'm sorry but it's much worse.
For example, please tell me where we can find the list of available property types (text, number...).
https://docs.adminjs.co/basics/property this page gives absoutely no info, neither when I use the searchbar.
I randomly discovered we could pass the prop "rows" to a textarea thanks to your random example. Where we can see the list of props we can use per type?

Anot

[2022-11-29 14:00] dziraf commented on #1304
Never had to use Tailwind or import any css files but you might also need a scss transpiler/tailwind plugin for babel

[2022-11-29 14:01] dziraf commented on #1303
To override the Dashboard I suggest just using `.add` instead of `.override` and assigning it in `AdminJSOptions`:

[code]

[2022-11-29 14:02] #1300 closed

[2022-11-29 14:03] dziraf commented on #1295
Do you use herokuapp domain or a custom one?

[2022-11-29 14:04] dziraf commented on #1293
I've just checked in one of our projects and it looks to be working correctly, can you show your custom component?

[2022-11-29 14:07] #1252 closed

[2022-11-29 14:07] dziraf commented on #1266
@sourabh1983 do you also use mongoose?

[2022-11-29 14:10] dziraf commented on #1234
@rustemkk this should now also be fixed, let me know if there are still any problems

[2022-11-29 14:11] #1153 closed

[2022-11-29 14:15] #1152 closed

[2022-11-29 16:51] ryanillman opened #1317 "After hook for bulkDelete action does not fire after the deletion takes place"
**Describe the bug**
When using `after` hooks with the bulkDelete action, the hook runs after the GET request that populates the confirmation modal/drawer is made, but not after the POST request that actually does the delete.

**Installed libraries and their versions**

* adminjs@6.1.2

**To Reproduce**
Steps to reproduce the behavior:
1. Add an `after` hook on a resource's bulk delete action that

[2022-11-29 17:19] BrandonNunes commented on #1301
Thanks!, work for me. :)

[2022-11-29 17:35] goldylucks commented on #1308
why not return a meaningful error?

[2022-11-29 17:52] dziraf commented on #1308
Most of the time, as long as database logging is enabled you will see both AdminJS error and the database error in server's console.

Any database error is a valid 5XX error which should not be displayed to the end user, a non-technical person. It should be logged in server's logs so that developer can investigate it but it should never reach end users.

[2022-11-29 17:56] #1308 closed

[2022-11-29 21:08] Damilare-alesh99 commented on #251
Any update on this?

[2022-11-29 21:56] sourabh1983 commented on #1266
I am using Prisma

[2022-11-30 08:08] #1301 closed

[2022-11-30 08:09] dziraf commented on #251
We don't have an ETA yet, but we want to include this as a part of v7

[2022-11-30 10:27] dziraf commented on #1266
How do you get `participatingTeams`? AdminJS uses a flat data model so if `participatingTeams` is structured as a nested json it won't work.

Your response should look like:
[code]

[2022-11-30 11:04] dziraf commented on #1317
Can you show your `after` hook?

[2022-11-30 14:44] robinl3680 opened #1319 "Filter logic is not getting applied for boolean fields"
After applying the filter to boolean fields all the records are getting empty

[2022-11-30 14:48] dziraf commented on #1234
What do you mean by empty records? @robinl3680

[2022-11-30 14:50] robinl3680 commented on #1234
I have a boolean field, after choosing a value ( true/false ) from the field and apply the filter, list is showing empty even we have records with that particular value

[2022-11-30 14:52] dziraf commented on #1234
Which ORM/ODM adapter do you use?

[2022-11-30 14:55] #1319 closed

[2022-11-30 15:40] robinl3680 commented on #1234
@dziraf Additional information, I am not connecting Database directly, instead I am using REST Api's to fetch and load resources. Please do help!

[2022-11-30 15:41] dziraf commented on #1234
If you're using REST API, are you sure your REST API processes filters correctly?

[2022-11-30 15:46] robinl3680 commented on #1234
How can I check that ? I am using REST API to load my resource, then filter on the resources should be internal and handled by AdminJs ? because I can see apart from bool field other field are working fine with filter!

[2022-11-30 23:11] ryanillman commented on #1317
The minimum I need to see the issue is just a console.warn:
[code]

[2022-11-30 23:21] ryanillman commented on #1317
Before running bulk delete (console output is on the left):
![image](https://user-images.githubusercontent.com/7374667/204928085-d1776721-4097-474a-bcdc-f16927636d80.png)

After the `GET` request fires to list the to-be-deleted records, the hook is run:
![image](https://user-images.githubusercontent.com/7374667/204928111-95716423-f28a-4057-9526-901d194ec92c.png)

The hook does not run again after